@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v14-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* montserrat-700 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v14-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* roboto-300 - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* roboto-regular - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

 :root {
    --font-first: "Montserrat", sans-serif;
    --font-second: "Roboto", sans-serif;
    --color-first: rgb(255, 255, 255);
    --color-second: rgb(102, 102, 102);
    --color-third: rgb(255, 78, 80);
    --color-fourth: rgb(51, 51, 51);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--font-first);
    font-size: 16px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    min-width: 320px;
}

.header-site {
    color: var(--color-first);
    background-image: url(../img/background-1.png);
    background-size: cover;
    background-position: center;
    min-height: 540px;
    padding-top: 20px;
    text-align: center;
}

.logotype {
    color: var(--color-first);
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: color .3s ease;
}

.logotype:hover {
    color: rgb(252, 59, 63);
}

.header-site__authorization-button {
    background: none;
    outline: none;
    border: none;
    color: var(--color-first);
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: capitalize;
    padding: 8px 16px;
    cursor: pointer;
}

.header-site__authorization-button:nth-child(2) {
    border-radius: 25px;
    border: 2px solid rgb(255, 255, 255);
}

.header-site__title {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 1.875rem;
}

.header-site__title-br {
    display: block;
}

.search-button {
    background-color: var(--color-third);
    outline: none;
    border: none;
    color: var(--color-first);
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: capitalize;
    padding: 10px 0;
    border-radius: 25px;
    width: 280px;
    transition: background-color .3s ease;
    cursor: pointer;
}

.search-button:hover {
    background-color: rgb(252, 59, 63);
}

.header-site__description {
    font-family: var(--font-second);
    font-weight: 300;
}

.partner {
    padding-top: 68px;
    padding-bottom: 56px;
    text-align: center;
}

.partner__title {
    color: var(--color-fourth);
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 14px;
}

.partner__list-image {
    border-radius: 50%;
    margin-bottom: 20px;
}

.partner__list-image-wrapper {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 121px;
}

.partner__list-image-wrapper::after {
    position: absolute;
    content: '';
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 4px solid #fff;
    box-sizing: content-box;
    width: 32px;
    height: 32px;
    right: -4px;
    bottom: -4px;
}

.partner__list-image-wrapper-tv::after {
    background-color: #ff4e50;
    background-image: url(../img/logo1.png);
}

.partner__list-image-wrapper-cup::after {
    background-color: #ffa507;
    background-image: url(../img/logo2.png);
}

.partner__list-image-wrapper-nature::after {
    background-color: #1cd7ad;
    background-image: url(../img/logo3.png);
}

.partner__list-image-wrapper-plane::after {
    background-color: #4e73db;
    background-image: url(../img/logo4.png);
}

.partner__list-item-title {
    font-size: .875rem;
    color: var(--color-fourth);
    margin-bottom: 16px;
}

.partner__list-item-descriotion {
    font-size: .875rem;
    color: var(--color-second);
    font-family: var(--font-second);
    font-weight: 300;
}

.partner__button {
    background: none;
    border: 2px solid var(--color-third);
    outline: none;
    color: var(--color-third);
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: capitalize;
    padding: 10px 0;
    border-radius: 25px;
    width: 280px;
    transition: background-color .3s ease;
    cursor: pointer;
}

.partner__button:hover {
    background-color: rgba(252, 59, 62, 0.226);
}

@media (max-width: 575px) {
    .header-site__authorization {
        margin-bottom: 114px;
    }
    .logotype-wrapp {
        margin-bottom: 32px;
    }
    .header-site__title {
        margin-bottom: 15px;
    }
    .header-site__description {
        padding: 0 24px;
        margin-bottom: 18px;
        font-size: 1.125rem;
    }
    .partner__list-item-descriotion {
        padding: 0 42px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
    .header-site__navigation {
        margin-bottom: 114px;
    }
    .header-site__title {
        font-size: 2.5rem;
    }
    .header-site__description {
        padding: 0 24px;
        margin-bottom: 18px;
        font-size: 1.125rem;
    }
}

@media (max-width: 767px) {
    .partner__list-item-descriotion {
        margin-bottom: 26px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 748px;
    }
    .header-site {
        background-image: url(../img/background-2.png);
        min-height: 700px;
    }
    .header-site {
        padding-top: 36px;
    }
    .header-site__navigation {
        margin-bottom: 142px;
    }
    .header-site__title {
        margin-bottom: 30px;
        font-size: 3.25rem;
        margin-right: auto;
        margin-left: auto;
        margin-top: 0;
    }
    .header-site__description {
        margin-bottom: 30px;
        font-size: 1.5rem;
    }
    .search-button {
        font-size: 0.875rem;
        width: 224px;
    }
    .partner {
        padding-bottom: 40px;
    }
    .partner__title {
        margin-bottom: 32px;
    }
    .partner__button {
        width: 192px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .partner__list-item-wrapper {
        width: 246px;
    }
    .partner__list-item:nth-child(2n+1) {
        display: flex;
        justify-content: flex-end;
    }
    .partner__list-item:nth-child(-n+2) {
        margin-bottom: 56px;
    }
    .partner__button {
        margin-top: 38px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 942px;
    }
    .header-site {
        background-image: url(../img/background.png);
        min-height: 700px;
    }
    .logotype {
        display: flex;
        margin-right: auto;
    }
    .header-site__authorization {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .partner {
        padding-bottom: 72px;
    }
    .partner__list {
        margin-bottom: 36px;
    }
    .header-site__authorization-wrapper,
    .logotype-wrapp {
        padding: 0;
    }
    .header-site__title {
        line-height: 64px;
        margin-bottom: 21px;
    }
    .header-site__description {
        margin-bottom: 38px;
    }
}